<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
    <div class="dt-buttons btn-group"><a class="btn btn-default buttons-copy buttons-html5 btn-sm btn-success"
            tabindex="0" aria-controls="DataTables_Table_0"><span>Copy</span></a><a
            class="btn btn-default buttons-csv buttons-html5 btn-sm btn-success" tabindex="0"
            aria-controls="DataTables_Table_0"><span>CSV</span></a><a
            class="btn btn-default buttons-excel buttons-html5 btn-sm btn-success" tabindex="0"
            aria-controls="DataTables_Table_0"><span>Excel</span></a><a
            class="btn btn-default buttons-pdf buttons-html5 btn-sm btn-success" tabindex="0"
            aria-controls="DataTables_Table_0"><span>PDF</span></a><a
            class="btn btn-default buttons-print btn-sm btn-success" tabindex="0"
            aria-controls="DataTables_Table_0"><span>Print</span></a></div>
    <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class=""
                placeholder="" aria-controls="DataTables_Table_0"></label></div>
    <table class="table table_member dataTable no-footer" id="DataTables_Table_0" role="grid"
        aria-describedby="DataTables_Table_0_info" style="width: 1277px;">
        <thead>
            <tr role="row">
                <th class="text-center sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                    colspan="1" style="width: 181px;" aria-label="ID Number: activate to sort column descending"
                    aria-sort="ascending">ID Number</th>
                <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 226px;" aria-label="Name: activate to sort column ascending">Name</th>
                <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 196px;" aria-label="Department: activate to sort column ascending">Department</th>
                <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 110px;" aria-label="Type: activate to sort column ascending">Type</th>
                <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 208px;" aria-label="Year/Section: activate to sort column ascending">Year/Section</th>
                <th class="text-center sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                    style="width: 140px;" aria-label="Action: activate to sort column ascending">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd">
                <td class="text-center sorting_1">10001</td>
                <td class=" text-center">Sarah Tamayo</td>
                <td class=" text-center">COED</td>
                <td class=" text-center">Faculty</td>
                <td class=" text-center">- </td>
                <td class=" text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" class="edit-member"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="javascript:;" class="deactivate-member"><i class="fa fa-remove"></i>
                                    deactivate</a></li>
                            <li><a href="member_profile?id=9&amp;name=Sarah Tamayo"><i class="fa fa-user"></i> Borrower
                                    Profile</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr role="row" class="even">
                <td class="text-center sorting_1">10002</td>
                <td class=" text-center">Marilyn cepeda</td>
                <td class=" text-center">SAS</td>
                <td class=" text-center">Faculty</td>
                <td class=" text-center">- </td>
                <td class=" text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" class="edit-member"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="javascript:;" class="deactivate-member"><i class="fa fa-remove"></i>
                                    deactivate</a></li>
                            <li><a href="member_profile?id=10&amp;name=Marilyn cepeda"><i class="fa fa-user"></i>
                                    Borrower Profile</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr role="row" class="odd">
                <td class="text-center sorting_1">10003</td>
                <td class=" text-center">Peter Villegas</td>
                <td class=" text-center">SAS</td>
                <td class=" text-center">Faculty</td>
                <td class=" text-center">- </td>
                <td class=" text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" class="edit-member"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="javascript:;" class="deactivate-member"><i class="fa fa-remove"></i>
                                    deactivate</a></li>
                            <li><a href="member_profile?id=11&amp;name=Peter Villegas"><i class="fa fa-user"></i>
                                    Borrower Profile</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr role="row" class="even">
                <td class="text-center sorting_1">10005</td>
                <td class=" text-center">Sam Reyes</td>
                <td class=" text-center">CIT</td>
                <td class=" text-center">Faculty</td>
                <td class=" text-center">- </td>
                <td class=" text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" class="edit-member"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="javascript:;" class="deactivate-member"><i class="fa fa-remove"></i>
                                    deactivate</a></li>
                            <li><a href="member_profile?id=12&amp;name=Sam Reyes"><i class="fa fa-user"></i> Borrower
                                    Profile</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr role="row" class="odd">
                <td class="text-center sorting_1">21200002</td>
                <td class=" text-center">Chris Doe</td>
                <td class=" text-center">BSIS</td>
                <td class=" text-center">Student</td>
                <td class=" text-center">1st-A</td>
                <td class=" text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" class="edit-member"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="javascript:;" class="activate-member"><i class="fa fa-remove"></i> activate</a>
                            </li>
                            <li><a href="member_profile?id=2&amp;name=Chris  Doe"><i class="fa fa-user"></i> Borrower
                                    Profile</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr role="row" class="even">
                <td class="text-center sorting_1">21200011</td>
                <td class=" text-center">Tresha Tiamzon</td>
                <td class=" text-center">BSIT</td>
                <td class=" text-center">Student</td>
                <td class=" text-center">1st-A</td>
                <td class=" text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" class="edit-member"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="javascript:;" class="deactivate-member"><i class="fa fa-remove"></i>
                                    deactivate</a></li>
                            <li><a href="member_profile?id=5&amp;name=Tresha Tiamzon"><i class="fa fa-user"></i>
                                    Borrower Profile</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr role="row" class="odd">
                <td class="text-center sorting_1">21200122</td>
                <td class=" text-center">John Doe</td>
                <td class=" text-center">BSIS</td>
                <td class=" text-center">Student</td>
                <td class=" text-center">1st-A</td>
                <td class=" text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" class="edit-member"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="javascript:;" class="deactivate-member"><i class="fa fa-remove"></i>
                                    deactivate</a></li>
                            <li><a href="member_profile?id=1&amp;name=John  Doe"><i class="fa fa-user"></i> Borrower
                                    Profile</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr role="row" class="even">
                <td class="text-center sorting_1">21300024</td>
                <td class=" text-center">Shane Ramos</td>
                <td class=" text-center">BSCE</td>
                <td class=" text-center">Student</td>
                <td class=" text-center">1st-A</td>
                <td class=" text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" class="edit-member"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="javascript:;" class="deactivate-member"><i class="fa fa-remove"></i>
                                    deactivate</a></li>
                            <li><a href="member_profile?id=3&amp;name=Shane Ramos"><i class="fa fa-user"></i> Borrower
                                    Profile</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr role="row" class="odd">
                <td class="text-center sorting_1">21300073</td>
                <td class=" text-center">Gino Olmedo</td>
                <td class=" text-center">BSIS</td>
                <td class=" text-center">Student</td>
                <td class=" text-center">4th- A</td>
                <td class=" text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" class="edit-member"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="javascript:;" class="deactivate-member"><i class="fa fa-remove"></i>
                                    deactivate</a></li>
                            <li><a href="member_profile?id=7&amp;name=Gino Olmedo"><i class="fa fa-user"></i> Borrower
                                    Profile</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr role="row" class="even">
                <td class="text-center sorting_1">21300156</td>
                <td class=" text-center">Jedha Dela Cruz</td>
                <td class=" text-center">BSED</td>
                <td class=" text-center">Student</td>
                <td class=" text-center">2nd-A</td>
                <td class=" text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" class="edit-member"><i class="fa fa-edit"></i> Edit</a></li>
                            <li><a href="javascript:;" class="deactivate-member"><i class="fa fa-remove"></i>
                                    deactivate</a></li>
                            <li><a href="member_profile?id=4&amp;name=Jedha Dela Cruz"><i class="fa fa-user"></i>
                                    Borrower Profile</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 12
        entries</div>
    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a
            class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0"
            id="DataTables_Table_0_previous">Previous</a><span><a class="paginate_button current"
                aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a><a class="paginate_button "
                aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0">2</a></span><a
            class="paginate_button next" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0"
            id="DataTables_Table_0_next">Next</a></div>
</div>